# Do not check in personal env variables
env*.sh

# Agent download sub-dirs
3.*/**
4.*/**
*-build*/**

# Ignore backups of run.sh/env.sh
*.sh.*

# Ignore Dockerfiles - built on-demand
ECommerce-LBR/Dockerfile
ECommerce-Tomcat/Dockerfile
ECommerce-Synapse/Dockerfile
ECommerce-FulfillmentClient/Dockerfile
ECommerce-Dbwrapper/Dockerfile
ECommerce-SurveyClient/Dockerfile
ECommerce-AddressService/Dockerfile

# ECommerce-Load build files
ECommerce-Load/.gradle/
ECommerce-Load/.idea/

# Ignore jdk rpms
jdk-*.rpm
ECommerce-Java/jdk-*.rpm

#Tomcat
apache-tomcat*.tar.gz
